{% extends 'diary/base.html' %}

{% block content %}
<form action = "" method="POST">
<!--formをpタグとして表示-->
<table class = "table">
    <tr>
        <th>タイトル</th>
        <td>{{ form.title }}</td>
    </tr>
    <tr>
        <th>本文</th>
        <td>{{ form.text }}</td>
    </tr>
    <tr>
        <th>日付</th>
        <td>{{ form.date }}</td>
    </tr>
</table>
<button type = "submit" class ="btn btn-primary">送信</button>
<!-- postのときは必ずこれをつける　csrf対策　-->
{% csrf_token %}
</form>
{% endblock %}

